<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>주류 커뮤니티 메인</title>

    <!-- 네비바 전용 CSS -->
    <link rel="stylesheet" th:href="@{/css/nav.css}">
    <!-- 기존 공통(변수 등) -->
    <link rel="stylesheet" th:href="@{/css/site.css}">
    <!-- 메인 전용 스타일 -->
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>
<body class="board">
<!-- 네비바 include -->
<div th:replace="fragments/nav :: navbar"></div>

<script th:src="@{/js/app-main.js}"></script>
</body>
</html>
